[Desktop Entry]
Version=1.0
Name=appleJuice Core
GenericName=appleJuice Network P2P Client
GenericName[de]=appleJuice Netzwerk P2P Client
Comment=Client for the appleJuice Network P2P
Comment[de]=Client für das appleJuice Netzwerk P2P
Exec=ajcore
Icon=org.applejuicenetz.core
Type=Application
Terminal=false
Categories=Network;
StartupWMClass=de-applejuicenet-client-core-Core
